%tr.row_lesson
    %td.column_left #{period}
    - (@start_of_week..@end_of_week).each do |date|
        - next unless @display_wday.include?(date.wday)
        - lesson = @this_week_lessons.find_by(date: date, period: period)
        - if lesson
            - if lesson.grade_subject_unit
                - unit_name = lesson.grade_subject_unit.unit_name
                - unit_name_data = lesson.grade_subject_unit.unit_name
                - got_unit_id = lesson.grade_subject_unit.id
            - else
                - unit_name = "&nbsp;".html_safe
                - got_unit_id
            %td.column_lesson
                .lesson_box{id: "#{period}#{date}"}
                    .lesson_ellipsis_box{id: "#{period}#{date}"}
                        %i.fa-solid.fa-ellipsis-vertical.lesson_ellipsis.hidden{id: "#{period}#{date}"}
                    .lesson_btn_js_box{id: "#{period}#{date}"}
                        .lesson_btn_box.hidden{id: "#{period}#{date}"}
                            %p.copy_lesson_btn{id: "copy_lesson_btn#{period}#{date}", data: {id: "#{period}#{date}",grade_subject_id: lesson.grade_subject.id, got_unit_id: got_unit_id}} コピー
                            %p.paste_lesson_btn{id: "paste_lesson_btn#{period}#{date}", data: {id: "#{period}#{date}", date: date, period: period, day_of_week: date.wday}} ペースト
                            %p.delete_lesson_btn{id: "delete_lesson_btn#{period}#{date}",data: {id:"#{period}#{date}", lesson_id: lesson.id}} 削除
                    .got_lesson{id: "got_lesson#{period}#{date}", data: {id: "#{period}#{date}", date: date, day_of_week: date.wday, period: period, lesson_id: lesson.id, subject_name: lesson.grade_subject_name(@grade_id), grade_subject_id: lesson.grade_subject.id, got_unit_id: got_unit_id}}
                        %p.lesson_subject{id: "lesson_subject#{period}#{date}"} #{lesson.grade_subject_name(@grade_id)}
                        %p.lesson_unit{id: "lesson_unit#{period}#{date}"} #{unit_name}
                    .edit_lesson_box.hidden{id: "#{period}#{date}"}
                        = select_tag 'select_subject', options_for_select(@subject_names), id: "select_subject#{period}#{date}", include_blank: true, class: "select_subject"
                    .unit_select_box.hidden{id: "grade_subject_units#{period}#{date}"}
                    .new_unit_box.hidden{id: "#{period}#{date}"}
                        = text_area_tag :new_unit, '', class: 'new_unit_text', id: "new_unit_name#{period}#{date}"
                        %i.bi.bi-card-list.cancel_btn{id: "#{period}#{date}"} &nbsp;一覧に戻る
                    .new_lesson_menu.hidden{id: "#{period}#{date}"}
                        %i.fa-regular.fa-calendar-plus.new_lesson_btn.hidden{id: "#{period}#{date}", data: {date: date, period: period, day_of_week: date.wday}} &nbsp;新規
        - else
            %td.column_lesson
                .lesson_box.print_grey{id: "#{period}#{date}"}
                    .lesson_ellipsis_box{id: "#{period}#{date}"}
                        %i.fa-solid.fa-ellipsis-vertical.lesson_ellipsis.hidden{id: "#{period}#{date}"}
                    .lesson_btn_js_box{id: "#{period}#{date}"}
                        .lesson_btn_box.hidden{id: "#{period}#{date}"}
                            %p.copy_lesson_btn.hidden{id: "copy_lesson_btn#{period}#{date}", data: {id: "#{period}#{date}"}} コピー
                            %p.paste_lesson_btn{id: "paste_lesson_btn#{period}#{date}", data: {id: "#{period}#{date}", date: date, period: period, day_of_week: date.wday}} ペースト
                            %p.delete_lesson_btn.hidden{id: "delete_lesson_btn#{period}#{date}",data: {id:"#{period}#{date}"}} 削除
                    .got_lesson.hidden{id: "got_lesson#{period}#{date}", data: {id: "#{period}#{date}", date: date, day_of_week: date.wday, period: period}}
                        %p.lesson_subject{id: "lesson_subject#{period}#{date}"}
                        %p.lesson_unit{id: "lesson_unit#{period}#{date}"}
                    .edit_lesson_box.hidden{id: "#{period}#{date}"}
                        = select_tag 'select_subject', options_for_select(@subject_names), id: "select_subject#{period}#{date}", include_blank: true, class: "select_subject"
                    .unit_select_box.hidden{id: "grade_subject_units#{period}#{date}"}
                    .new_unit_box.hidden{id: "#{period}#{date}"}
                        = text_area_tag :new_unit, '', class: 'new_unit_text', id: "new_unit_name#{period}#{date}"
                        %i.bi.bi-card-list.cancel_btn{id: "#{period}#{date}"} &nbsp;一覧に戻る
                    .new_lesson_menu{id: "#{period}#{date}"}
                        %i.fa-regular.fa-calendar-plus.new_lesson_btn.hidden{id: "#{period}#{date}", data: {date: date, period: period, day_of_week: date.wday}} &nbsp;新規