.page_header
    %h1.page_header_title 時間割
.container
    .class_name
        - grade = @school_class.grade.grade_name.gsub('生', '')
        %p.class_name_display= grade + @school_class.class_name

    %table
        %tr
            %th
            - (Date.today.beginning_of_week..Date.today.end_of_week).each do |date|
                - next unless (1..5).include?(date.wday)
                %th  #{date.strftime('%m月%d日')}(#{l(date, format: :abbr_day_name)})
        - (1..6).each do |period|
            %tr
                %td #{period}時間目
                - (Date.today.beginning_of_week..Date.today.end_of_week).each do |date|
                    - next unless (1..5).include?(date.wday)
                    %td
                        .lesson_box
                            - lesson = @this_week_lessons.find_by(date: date, period: period)
                            - if lesson
                                %p.lesson_subject #{lesson.grade_subject.subject.subject_name}
                                - if lesson.grade_subject_unit
                                    %p #{lesson.grade_subject_unit.unit_name}
                                - else
                                    %p &nbsp;
                            - else
                                %p 作成リンク