.page_header
    %h1.page_header_title 時間割
.container
    .class_page_top
        .class_name
            - grade = @school_class.grade.grade_name.gsub('生', '')
            %p.class_name_display= grade + @school_class.class_name
    .navbar
        %a{href: school_class_path(start_of_week: @start_of_week - 1.week)} 前の週
        %a{href: school_class_path(start_of_week: @start_of_week + 1.week)} 次の週

    %table.class_weekly
        %tr
            %th
            - (@start_of_week..@end_of_week).each do |date|
                - next unless (1..5).include?(date.wday)
                %th  #{date.strftime('%m月%d日')}(#{l(date, format: :abbr_day_name)})
        %tr
            %td 行事予定
            - (@start_of_week..@end_of_week).each do |date|
                - next unless (1..5).include?(date.wday)
                %td
                    .event_box{id: "#{date}"}
                        - event = @this_week_events.find_by(date: date)
                        - if event
                            .event_btn_box.hidden
                                %p.event_create_btn{id: "#{date}", data: {date: date, day_of_week: date.wday}} 追加
                            .event_text_box.hidden{id: "#{date}"}
                                = text_area_tag :event_text, "#{event.event_name}", class: 'event_text', id: "event_text#{date}"
                            %p.event_display  #{event.event_name}
                        - else
                            .event_btn_box{id: "#{date}"}
                                %p.event_create_btn{id: "#{date}", data: {date: date, day_of_week: date.wday}} 追加
                            .event_text_box.hidden{id: "#{date}"}
                                = text_area_tag :event_text, '', class: 'event_text', id: "event_text#{date}"
                            %p.event_display.hidden{id: "event_display#{date}"}
        - (1..6).each do |period|
            %tr
                %td #{period}時間目
                - (@start_of_week..@end_of_week).each do |date|
                    - next unless (1..5).include?(date.wday)
                    %td
                        .lesson_box{id: "#{period}#{date}"}
                            - lesson = @this_week_lessons.find_by(date: date, period: period)
                            - if lesson
                                - if lesson.grade_subject_unit
                                    - unit_name = lesson.grade_subject_unit.unit_name
                                    - got_unit_id = lesson.grade_subject_unit.id
                                - else
                                    - unit_name = "\b"
                                    - got_unit_id
                                .lesson_btn_box{id: "#{period}#{date}"}
                                    %p.copy_lesson_btn{id: "copy_lesson_btn#{period}#{date}", data: {id: "#{period}#{date}",grade_subject_id: lesson.grade_subject.id, got_unit_id: got_unit_id}} コピー
                                    %p.paste_lesson_btn{id: "paste_lesson_btn#{period}#{date}", data: {id: "#{period}#{date}", date: date, period: period, day_of_week: date.wday}} ペースト
                                    %p.delete_lesson_btn{id: "delete_lesson_btn#{period}#{date}",data: {id:"#{period}#{date}", lesson_id: lesson.id}} 削除
                                .got_lesson{id: "got_lesson#{period}#{date}", data: {id: "#{period}#{date}", date: date, day_of_week: date.wday, period: period, lesson_id: lesson.id, subject_name: lesson.grade_subject.subject.subject_name, grade_subject_id: lesson.grade_subject.id, got_unit_id: got_unit_id}}
                                    %p.lesson_subject{id: "lesson_subject#{period}#{date}"} #{lesson.grade_subject.subject.subject_name}
                                    %p.lesson_unit{id: "lesson_unit#{period}#{date}"} #{unit_name}
                                .edit_lesson_box.hidden{id: "#{period}#{date}"}
                                    = select_tag 'select_subject', options_for_select(@subject_names), id: "select_subject#{period}#{date}", include_blank: true
                                .unit_select_box.hidden{id: "grade_subject_units#{period}#{date}"}
                                .new_unit_box.hidden{id: "#{period}#{date}"}
                                    = text_area_tag :new_unit, '', class: 'new_unit_text', id: "new_unit_name#{period}#{date}"
                                    %p.cancel_btn{id: "#{period}#{date}"} ×
                                .new_lesson_menu.hidden{id: "#{period}#{date}"}
                                    .new_lesson_btn{id: "#{period}#{date}", data: {date: date, period: period, day_of_week: date.wday}}
                                        %p 新規作成
                            - else
                                .lesson_btn_box{id: "#{period}#{date}"}
                                    %p.copy_lesson_btn.hidden{id: "copy_lesson_btn#{period}#{date}", data: {id: "#{period}#{date}"}} コピー
                                    %p.paste_lesson_btn{id: "paste_lesson_btn#{period}#{date}", data: {id: "#{period}#{date}", date: date, period: period, day_of_week: date.wday}} ペースト
                                    %p.delete_lesson_btn.hidden{id: "delete_lesson_btn#{period}#{date}",data: {id:"#{period}#{date}"}} 削除
                                .got_lesson.hidden{id: "got_lesson#{period}#{date}", data: {id: "#{period}#{date}", date: date, day_of_week: date.wday, period: period}}
                                    %p.lesson_subject{id: "lesson_subject#{period}#{date}"}
                                    %p.lesson_unit{id: "lesson_unit#{period}#{date}"}
                                .edit_lesson_box.hidden{id: "#{period}#{date}"}
                                    = select_tag 'select_subject', options_for_select(@subject_names), id: "select_subject#{period}#{date}", include_blank: true
                                .unit_select_box.hidden{id: "grade_subject_units#{period}#{date}"}
                                .new_unit_box.hidden{id: "#{period}#{date}"}
                                    = text_area_tag :new_unit, '', class: 'new_unit_text', id: "new_unit_name#{period}#{date}"
                                    %p.cancel_btn{id: "#{period}#{date}"} ×
                                .new_lesson_menu{id: "#{period}#{date}"}
                                    .new_lesson_btn{id: "#{period}#{date}", data: {date: date, period: period, day_of_week: date.wday}}
                                        %p 新規作成


= javascript_pack_tag 'school_class'