.page_header
    %h1.page_header_title 時間割
.container
    .class_page_top
        .class_name
            %p.class_name_display= @school_class.grade_class
    .navbar
        %a{href: school_class_path(start_of_week: @start_of_week - 1.week)} 前の週
        %a{href: school_class_path(start_of_week: @start_of_week + 1.week)} 次の週
        .wday_setting
            %i.fa-solid.fa-calendar-week.wday_btn &nbsp;曜日
            .wday_select_box
                %form#weekday-form
                    %label
                        %input{checked: @display_wday.include?(1), name: "monday", id: "monday", type: "checkbox"} &nbsp;月曜日
                    %br/
                    %label
                        %input{checked: @display_wday.include?(2), name: "tuesday", id: "tuesday", type: "checkbox"} &nbsp;火曜日
                    %br/
                    %label
                        %input{checked: @display_wday.include?(3), name: "wednesday", id: "wednesday", type: "checkbox"} &nbsp;水曜日
                    %br/
                    %label
                        %input{checked: @display_wday.include?(4), name: "thursday", id: "thursday", type: "checkbox"} &nbsp;木曜日
                    %br/
                    %label
                        %input{checked: @display_wday.include?(5), name: "friday", id: "friday", type: "checkbox"} &nbsp;金曜日
                    %br/
                    %label
                        %input{checked: @display_wday.include?(6), name: "saturday", id: "saturday", type: "checkbox"} &nbsp;土曜日
                    %br/
                    %label
                        %input{checked: @display_wday.include?(0), name: "sunday", id: "sunday", type: "checkbox"} &nbsp;日曜日
                    %br/
                    %button.wday_submit_btn{type: "button"} 保存
        .template_nav
            %p.template_nav_title テンプレ
            %i.fa-solid.fa-plus.add_from_template.add_from_temp{data: {start_of_week: @start_of_week}} &nbsp;利用
            = link_to " 設定", school_class_template_lessons_path(@school_class.id, start_of_week: @start_of_week), class: "fa-solid fa-sliders temp_setting", data: {"turbolinks" => false}
        .output_nav
            %i.fa-solid.fa-print.print_btn &nbsp;印刷
    .table_box
        %table.class_weekly
            %tr
                %th
                - (@start_of_week..@end_of_week).each do |date|
                    - next unless @display_wday.include?(date.wday)
                    %th.date_header  #{date.strftime('%m月%d日')}<br/>#{l(date, format: :abbr_day_name)}
            %tr.event_row
                %td.left_column 行事予定
                - (@start_of_week..@end_of_week).each do |date|
                    - next unless @display_wday.include?(date.wday)
                    %td.event_cell
                        .event_box{id: "#{date}"}
                            - event = @this_week_events.find_by(date: date)
                            - if event
                                .event_btn_box.hidden{id: "#{date}"}
                                    %i.fa-regular.fa-pen-to-square.event_create_btn{id: "#{date}", data: {date: date, day_of_week: date.wday}} &nbsp;追加
                                .event_text_box.hidden{id: "#{date}"}
                                    = text_area_tag :event_text, event.event_name.gsub("<br>", "\n"), class: 'event_text', id: "event_text#{date}"
                                %p.event_display{id: "event_display#{date}", data: {id: "#{date}", event_id: event.id}}  #{event.event_name.html_safe}
                            - else
                                .event_btn_box{id: "#{date}"}
                                    %i.fa-regular.fa-pen-to-square.event_create_btn{id: "#{date}", data: {date: date, day_of_week: date.wday}} &nbsp;追加
                                .event_text_box.hidden{id: "#{date}"}
                                    = text_area_tag :event_text, '', class: 'event_text', id: "event_text#{date}"
                                %p.event_display.hidden{id: "event_display#{date}", data: {id: "#{date}"}}
            - (1..6).each do |period|
                %tr.lesson_row
                    %td.left_column #{period}
                    - (@start_of_week..@end_of_week).each do |date|
                        - next unless @display_wday.include?(date.wday)
                        %td
                            .lesson_box{id: "#{period}#{date}"}
                                - lesson = @this_week_lessons.find_by(date: date, period: period)
                                - if lesson
                                    - if lesson.grade_subject_unit
                                        - unit_name = lesson.grade_subject_unit.unit_name
                                        - got_unit_id = lesson.grade_subject_unit.id
                                    - else
                                        - unit_name = "\b"
                                        - got_unit_id
                                    .lesson_btn_js_box{id: "#{period}#{date}"}
                                        .lesson_btn_box.hidden{id: "#{period}#{date}"}
                                            %i.fa-solid.fa-copy.copy_lesson_btn{id: "copy_lesson_btn#{period}#{date}", data: {id: "#{period}#{date}",grade_subject_id: lesson.grade_subject.id, got_unit_id: got_unit_id}}
                                            %i.fa-regular.fa-paste.paste_lesson_btn{id: "paste_lesson_btn#{period}#{date}", data: {id: "#{period}#{date}", date: date, period: period, day_of_week: date.wday}}
                                            %i.fa-regular.fa-calendar-xmark.delete_lesson_btn{id: "delete_lesson_btn#{period}#{date}",data: {id:"#{period}#{date}", lesson_id: lesson.id}}
                                    .got_lesson{id: "got_lesson#{period}#{date}", data: {id: "#{period}#{date}", date: date, day_of_week: date.wday, period: period, lesson_id: lesson.id, subject_name: lesson.grade_subject.subject.subject_name, grade_subject_id: lesson.grade_subject.id, got_unit_id: got_unit_id}}
                                        %p.lesson_subject{id: "lesson_subject#{period}#{date}"} #{lesson.grade_subject.subject.subject_name}
                                        %p.lesson_unit{id: "lesson_unit#{period}#{date}"} #{unit_name}
                                    .edit_lesson_box.hidden{id: "#{period}#{date}"}
                                        = select_tag 'select_subject', options_for_select(@subject_names), id: "select_subject#{period}#{date}", include_blank: true, class: "select_subject"
                                    .unit_select_box.hidden{id: "grade_subject_units#{period}#{date}"}
                                    .new_unit_box.hidden{id: "#{period}#{date}"}
                                        = text_area_tag :new_unit, '', class: 'new_unit_text', id: "new_unit_name#{period}#{date}"
                                        %i.bi.bi-card-list.cancel_btn{id: "#{period}#{date}"}
                                    .new_lesson_menu.hidden{id: "#{period}#{date}"}
                                        %i.fa-regular.fa-calendar-plus.new_lesson_btn.hidden{id: "#{period}#{date}", data: {date: date, period: period, day_of_week: date.wday}} &nbsp;新規
                                - else
                                    .lesson_btn_js_box{id: "#{period}#{date}"}
                                        .lesson_btn_box.hidden{id: "#{period}#{date}"}
                                            %i.fa-solid.fa-copy.copy_lesson_btn.hidden{id: "copy_lesson_btn#{period}#{date}", data: {id: "#{period}#{date}"}}
                                            %i.fa-regular.fa-paste.paste_lesson_btn{id: "paste_lesson_btn#{period}#{date}", data: {id: "#{period}#{date}", date: date, period: period, day_of_week: date.wday}}
                                            %i.fa-regular.fa-calendar-xmark.delete_lesson_btn.hidden{id: "delete_lesson_btn#{period}#{date}",data: {id:"#{period}#{date}"}}
                                    .got_lesson.hidden{id: "got_lesson#{period}#{date}", data: {id: "#{period}#{date}", date: date, day_of_week: date.wday, period: period}}
                                        %p.lesson_subject{id: "lesson_subject#{period}#{date}"}
                                        %p.lesson_unit{id: "lesson_unit#{period}#{date}"}
                                    .edit_lesson_box.hidden{id: "#{period}#{date}"}
                                        = select_tag 'select_subject', options_for_select(@subject_names), id: "select_subject#{period}#{date}", include_blank: true, class: "select_subject"
                                    .unit_select_box.hidden{id: "grade_subject_units#{period}#{date}"}
                                    .new_unit_box.hidden{id: "#{period}#{date}"}
                                        = text_area_tag :new_unit, '', class: 'new_unit_text', id: "new_unit_name#{period}#{date}"
                                        %i.bi.bi-card-list.cancel_btn{id: "#{period}#{date}"}
                                    .new_lesson_menu{id: "#{period}#{date}"}
                                        %i.fa-regular.fa-calendar-plus.new_lesson_btn.hidden{id: "#{period}#{date}", data: {date: date, period: period, day_of_week: date.wday}} &nbsp;新規
            %tr.item_row
                %td.left_column 持ち物
                - (@start_of_week..@end_of_week).each do |date|
                    - next unless @display_wday.include?(date.wday)
                    %td
                        .item_box{id: "#{date}"}
                            - item = @this_week_date_items.find_by(date: date)
                            - if item
                                .item_btn_box.hidden{id: "#{date}"}
                                    %i.fa-regular.fa-pen-to-square.item_create_btn{id: "#{date}", data: {date: date, day_of_week: date.wday}} &nbsp;追加
                                .item_text_box.hidden{id: "#{date}"}
                                    = text_area_tag :item_text, item.item_name.gsub("<br>", "\n"), class: 'item_text', id: "item_text#{date}"
                                %p.item_display{id: "item_display#{date}", data: {id: "#{date}", date_item_id: item.id}}  #{item.item_name.html_safe}
                            - else
                                .item_btn_box{id: "#{date}"}
                                    %i.fa-regular.fa-pen-to-square.item_create_btn{id: "#{date}", data: {date: date, day_of_week: date.wday}} &nbsp;追加
                                .item_text_box.hidden{id: "#{date}"}
                                    = text_area_tag :item_text, '', class: 'item_text', id: "item_text#{date}"
                                %p.item_display.hidden{id: "item_display#{date}", data: {id: "#{date}"}}
            %tr
                %td.left_column 下校時刻
                - (@start_of_week..@end_of_week).each do |date|
                    - next unless @display_wday.include?(date.wday)
                    %td
                        .leaving_time_box{id: "#{date}"}
                            - leaving_time = @this_week_class_leaving_times.find_by(date: date)
                            - if leaving_time
                                .leaving_time_create_btn_box.hidden{id: "#{date}"}
                                    %i.fa-regular.fa-pen-to-square.leaving_time_create_btn{id: "#{date}", data: {date: date, day_of_week: date.wday}} &nbsp;追加
                                .leaving_time_delete_btn_box{id: "#{date}"}
                                    %i.fa-regular.fa-calendar-xmark.delete_leaving_time_btn{id: "delete_leaving_time_btn#{date}", data: {id: "#{date}", leaving_time_id: leaving_time.id}}
                                .leaving_time_select_box.hidden{id: "#{date}", data: {date: date, day_of_week: date.wday}}
                                    %input{type: "time", id: "leaving_time#{date}", value: "#{leaving_time.leaving_time.strftime("%H:%M")}", class: "leaving_time_form"}
                                %p.leaving_time_display{id: "leaving_time_display#{date}", data: {id: "#{date}", leaving_time_id: leaving_time.id}}  #{leaving_time.leaving_time.strftime("%H:%M")}
                            - else
                                .leaving_time_create_btn_box{id: "#{date}"}
                                    %i.fa-regular.fa-pen-to-square.leaving_time_create_btn{id: "#{date}", data: {date: date, day_of_week: date.wday}} &nbsp;追加
                                .leaving_time_delete_btn_box.hidden{id: "#{date}"}
                                    %i.fa-regular.fa-calendar-xmark.delete_leaving_time_btn{id: "delete_leaving_time_btn#{date}", data: {id: "#{date}"}}
                                .leaving_time_select_box.hidden{id: "#{date}", data: {date: date, day_of_week: date.wday}}
                                    %input{type: "time", id: "leaving_time#{date}", class: "leaving_time_form"}
                                %p.leaving_time_display.hidden{id: "leaving_time_display#{date}", data: {id: "#{date}"}}


= javascript_pack_tag 'school_class'