.pdf_container
    .class_page_top.pdf_header
        .class_name
            %p.class_name_display #{@school_class.grade_class} 時間割
    .table_box.pdf_table_box
        %table.class_weekly
            %tr
                %th
                - (@start_of_week..@end_of_week).each do |date|
                    - next unless @display_wday.include?(date.wday)
                    %th.date_header  #{date.strftime('%m月%d日')}<br/>#{l(date, format: :abbr_day_name)}
            %tr.event_row
                %td.left_column 行事予定
                - (@start_of_week..@end_of_week).each do |date|
                    - next unless @display_wday.include?(date.wday)
                    %td.event_cell
                        .pdf_event_box
                            - event = @this_week_events.find_by(date: date)
                            - if event
                                %p.event_display  #{event.event_name.html_safe}
            - (1..6).each do |period|
                %tr.lesson_row
                    %td.left_column #{period}
                    - (@start_of_week..@end_of_week).each do |date|
                        - next unless @display_wday.include?(date.wday)
                        %td
                            .lesson_box
                                - lesson = @this_week_lessons.find_by(date: date, period: period)
                                - if lesson
                                    - if lesson.grade_subject_unit
                                        - unit_name = lesson.grade_subject_unit.unit_name
                                        - got_unit_id = lesson.grade_subject_unit.id
                                    - else
                                        - unit_name = "\b"
                                        - got_unit_id
                                    .got_lesson
                                        %p.lesson_subject #{lesson.grade_subject.subject.subject_name}
                                        %p.lesson_unit #{unit_name}
            %tr.item_row
                %td.left_column 持ち物
                - (@start_of_week..@end_of_week).each do |date|
                    - next unless @display_wday.include?(date.wday)
                    %td
                        .pdf_item_box
                            - item = @this_week_date_items.find_by(date: date)
                            - if item
                                %p.item_display #{item.item_name.html_safe}
            %tr.leav_time_row.pdf_leav_time_row
                %td.left_column 下校時刻
                - (@start_of_week..@end_of_week).each do |date|
                    - next unless @display_wday.include?(date.wday)
                    %td
                        .leaving_time_box
                            - leaving_time = @this_week_class_leaving_times.find_by(date: date)
                            - if leaving_time
                                %p.pdf_leaving_time_display  #{leaving_time.leaving_time.strftime("%H:%M")}