%h1 教員設定
%p#display_name #{@display_name}

- if @teacher_id
  .edit_setting
    = link_to edit_teacher_path(@teacher_id), remote: true do
      = image_tag 'Edit.png'
- else
  .new_setting
    = link_to new_teacher_path, remote: true do
      = image_tag 'Edit.png'
