%h1.setting_header 教員設定
%h3.setting_items 表示名
- if @teacher.id
  .edit_setting
    %p#display_name= @display_name
    .edit_link
      = link_to edit_teacher_path(@teacher.id), remote: true do
        = image_tag 'Edit.png'
  .current_teacher_class
    = link_to new_school_class_path do
      = image_tag 'Add.png'
  - @classes.each do |school_class|
    .class_name
      - grade = school_class.grade.grade_name.gsub('生', '')
      %p= grade + school_class.class_name
    .teacher_role
      %p= school_class.school_class_teachers.find_by(teachers_id: current_user.teacher.id)&.teacher_type
    .assigned_subject_display
      %p 担当教科
      - current_class_teacher_id = SchoolClassTeacher.where(teachers_id: @teacher.id, school_classes_id: school_class.id).first.id
      - current_assigned_subjects = AssignedSubject.where(school_class_teachers_id: current_class_teacher_id)
      - current_assigned_subjects.each do |assigned_subject|
        - if assigned_subject.grade_subject.grades_id === school_class.id
          %p #{assigned_subject.grade_subject.subject.subject_name}
          = link_to '外れる', assigned_subject_path(assigned_subject), data: {method: 'delete', confirm: '本当に担当を外れますか？' }
        - else
      = link_to new_assigned_subject_path(school_class_id: school_class.id, current_class_teacher_id: current_class_teacher_id) do
        = image_tag 'Edit.png'
    .all_teacher
      - teachers = school_class.school_class_teachers
      - teachers.each do |class_teacher|
        %p= class_teacher.teacher.display_name

- else
  .new_setting
    %p#display_name= @display_name
    .new_link
      = link_to new_teacher_path, remote: true do
        = image_tag 'Edit.png'
