%h1.setting_header 教員設定
%h3.setting_items 表示名
- if @teacher_id
  .edit_setting
    %p#display_name #{@display_name}
    .edit_link
      = link_to edit_teacher_path(@teacher_id), remote: true do
        = image_tag 'Edit.png'
- else
  .new_setting
    %p#display_name #{@display_name}
    .new_link
      = link_to new_teacher_path, remote: true do
        = image_tag 'Edit.png'
