.class_page_top.iframe_class_page_top
    .iframe_class_name
        %p.class_name_display= @school_class.grade_class
    .navbar.iframe_navbar
        %a{href: school_class_iframe_index_path(start_of_week: @start_of_week - 1.week)} 前の週
        - if @next_week_perm
            %a{href: school_class_iframe_index_path(start_of_week: @start_of_week + 1.week)} 次の週
.table_box.iframe_table_box
    %table.iframe_class_weekly
        %tr
            %th
            - (@start_of_week..@end_of_week).each do |date|
                - next unless @display_wday.include?(date.wday)
                %th.iframe_date_header  #{date.strftime('%m月%d日')}<br/>#{l(date, format: :abbr_day_name)}
        %tr.event_row
            - if @school_class.grade_id ==1 or @school_class.grade_id ==2
                %td.left_column ぎょうじ
            - else
                %td.left_column 行事予定
            - (@start_of_week..@end_of_week).each do |date|
                - next unless @display_wday.include?(date.wday)
                %td.event_cell
                    .iframe_event_box
                        - event = @this_week_events.find_by(date: date)
                        - if event
                            %p.iframe_event_display  #{event.event_name.html_safe}
        %tr.morning_act_row
            - if @school_class.grade_id ==1
                %td.left_column あさ
            - else
                %td.left_column 朝
            - (@start_of_week..@end_of_week).each do |date|
                - next unless @display_wday.include?(date.wday)
                %td.morning_act_cell
                    .iframe_morning_act_box{id: "#{date}"}
                        - morning_act = @this_week_morning_activities.find_by(date: date)
                        - if morning_act
                            %p.morning_act_display  #{morning_act.activity_name.html_safe}
        - (1..6).each do |period|
            %tr.iframe_lesson_row
                %td.iframe_left_column #{period}
                - (@start_of_week..@end_of_week).each do |date|
                    - next unless @display_wday.include?(date.wday)
                    %td
                        .iframe_lesson_box
                            - lesson = @this_week_lessons.find_by(date: date, period: period)
                            - if lesson
                                - if lesson.grade_subject_unit
                                    - unit_name = lesson.grade_subject_unit.unit_name
                                    - got_unit_id = lesson.grade_subject_unit.id
                                - else
                                    - unit_name = "\b"
                                    - got_unit_id
                                .iframe_got_lesson
                                    %p.lesson_subject #{lesson.grade_subject.subject.subject_name}
                                    %p.iframe_lesson_unit #{unit_name}
        %tr.iframe_item_row
            - if @school_class.grade_id ==1 or @school_class.grade_id ==2
                %td.left_column もちもの
            - else
                %td.left_column 持ち物
            - (@start_of_week..@end_of_week).each do |date|
                - next unless @display_wday.include?(date.wday)
                %td
                    .iframe_item_box
                        - item = @this_week_date_items.find_by(date: date)
                        - if item
                            %p.iframe_item_display  #{item.item_name.html_safe}
        %tr
            - if @school_class.grade_id ==1
                %td.left_column げこう
            - else
                %td.left_column 下校
            - (@start_of_week..@end_of_week).each do |date|
                - next unless @display_wday.include?(date.wday)
                %td
                    .iframe_leaving_time_box
                        - leaving_time = @this_week_class_leaving_times.find_by(date: date)
                        - if leaving_time
                            %p.iframe_leaving_time_display  #{leaving_time.leaving_time.strftime("%H:%M")}

= javascript_pack_tag 'iframe'