.container
    %h1.text_book_header="#{@text_book.text_book_name}(#{@text_book.text_book_comp.abbreviation})"
    .text_book_units
        - @grade_subject_units.each_with_index do |grade_subject_unit|
            .unit_box{id: "unit_box#{grade_subject_unit.id}"}
                .unit_display
                    %p.unit_name{id: "unit_name#{grade_subject_unit.id}"} #{grade_subject_unit.unit_name}
                    .unit_edit_form.hidden{id: "#{grade_subject_unit.id}"}
                        = form_with(model: [grade_subject_unit], local: true, data: { remote: true }) do |form|
                            =form.text_field :unit_name
                            =form.submit "決定"
                .unit_option
                    .unit_edit_btn_box
                        %i.fa-solid.fa-pen-to-square.unit_edit_btn{id: "edit_btn#{grade_subject_unit.id}", data: { id: grade_subject_unit.id }}
                        %i.fa-solid.fa-trash-can.unit_delete_btn{id: "delete_btn#{grade_subject_unit.id}", data: { id: grade_subject_unit.id }}
            %hr{id: "unit_hr#{grade_subject_unit.id}"}
    .add_text_book_units
        %p.add_text_book_units_btn + 新しく単元名を作成する
        .new_unit_area.hidden
            = text_field_tag 'new_text_unit', nil, {class: "new_text_unit", data: {text_book_id: @text_book.id, school_class_id: @school_class_id, grade_subject_id: @text_book.grade_subject_id}}
            %p.new_unit_submit_btn 追加
= javascript_pack_tag 'unit'