- if user_signed_in?
    - if not @class_teacher
        .top_container
            .top_info_box
                %p.top_info #{@main_teacher_name}先生の時間割をフォローしませんか。
            .top_btn_box
                = link_to "フォロー",school_class_teachers_path(class_token: @token) , method: :post, class: "sign_up_btn"
- else
    .top_container
        .top_info_box
            %p.top_info 時間割をカンタンに作成・共有できるSchool Notesに登録しませんか。
            %p.top_info #{@main_teacher_name}先生の時間割もフォローしていつでも確認できるようになります。
        .top_btn_box
            = link_to "登録", new_user_registration_with_follow_path(class_token: @token), class: "sign_up_btn top_sign_up_btn"
            = link_to "ログイン&フォロー", new_user_session_with_follow_path(class_token: @token), class: "sign_in_btn top_sign_in_btn"
.container
    .schedule_container
        .schedule_nav
            .left_nav
                %i.fa-solid.fa-bars.week_btn.menu_btn.hidden
                .week_nav
                    = link_to school_class_share_teacher_path(start_of_week: @start_of_week - 1.week) do
                        %i.fa-solid.fa-angle-left.week_btn
                    = link_to school_class_share_teacher_path(start_of_week: @start_of_week + 1.week) do
                        %i.fa-solid.fa-angle-right.week_btn
            .right_nav
                %i.fa-solid.fa-print.right_nav_btn.print_btn{data: {table_title: @table_title}}
                %i.fa-solid.fa-file-image.right_nav_btn.image_download_btn{data: {start_of_week: @start_of_week, end_of_week: @end_of_week, class_name: @school_class.grade_class}}
        .table_box
            %table.class_weekly
                %tr.row_date
                    %th.column_left
                    - (@start_of_week..@end_of_week).each do |date|
                        - next unless @display_wday.include?(date.wday)
                        %th.column_date  #{date.strftime('%m月%d日')}<br/>#{l(date, format: :abbr_day_name)}
                %tr.row_event
                    - if @school_class.grade_id ==1 or @school_class.grade_id ==2
                        %td.column_left ぎょうじ
                    - else
                        %td.column_left 行事予定
                    - (@start_of_week..@end_of_week).each do |date|
                        - next unless @display_wday.include?(date.wday)
                        %td.column_event
                            .event_box
                                - event = @this_week_events.find_by(date: date)
                                - if event
                                    %p.event_display #{event.event_name.html_safe}
                %tr.row_morning_act
                    - if @school_class.grade_id ==1
                        %td.column_left あさ
                    - else
                        %td.column_left 朝
                    - (@start_of_week..@end_of_week).each do |date|
                        - next unless @display_wday.include?(date.wday)
                        %td.column_morning_act
                            .morning_act_box
                                - morning_act = @this_week_morning_activities.find_by(date: date)
                                - if morning_act
                                    %p.morning_act_display  #{morning_act.activity_name.html_safe}
                - (@start_of_period..@end_of_period).each do |period|
                    %tr.row_lesson
                        %td.column_left #{period}
                        - (@start_of_week..@end_of_week).each do |date|
                            - next unless @display_wday.include?(date.wday)
                            %td.column_lesson
                                .lesson_box_for_share
                                    - lesson = @this_week_lessons.find_by(date: date, period: period)
                                    - if lesson
                                        - if lesson.grade_subject_unit
                                            - unit_name = lesson.grade_subject_unit.unit_name
                                            - got_unit_id = lesson.grade_subject_unit.id
                                        - else
                                            - unit_name = "&nbsp;".html_safe
                                            - got_unit_id
                                        .got_lesson
                                            %p.lesson_subject #{lesson.grade_subject_name(@grade_id)}
                                            %p.lesson_unit #{unit_name}
                %tr.row_item
                    - if @school_class.grade_id ==1 or @school_class.grade_id ==2
                        %td.column_left もちもの
                    - else
                        %td.column_left 持ち物
                    - (@start_of_week..@end_of_week).each do |date|
                        - next unless @display_wday.include?(date.wday)
                        %td.column_item
                            .item_box
                                - item = @this_week_date_items.find_by(date: date)
                                - if item
                                    %p.item_display #{item.item_name.html_safe}
                %tr.row_leaving
                    - if @school_class.grade_id ==1
                        %td.column_left げこう
                    - else
                        %td.column_left 下校
                    - (@start_of_week..@end_of_week).each do |date|
                        - next unless @display_wday.include?(date.wday)
                        %td
                            .leaving_time_box{id: "#{date}"}
                                - leaving_time = @this_week_class_leaving_times.find_by(date: date)
                                - if leaving_time
                                    %p.leaving_time_display  #{leaving_time.leaving_time.strftime("%H:%M")}
    = javascript_pack_tag 'share_teacher'